<div id="modalForm">
	<span class="closeModal"><img src="../src/img/close.png" /></span>
	<h4 class="title_address"><img src="../src/img/map.png" /><a ></a></h4>
	<div class="content_form">
		<div class="dataList"></div>
	<h4 class="your_comment">Ваш отзыв</h4>
    <input placeholder="Ваше имя" type="text" class="fieldName">
    <input placeholder="Укажите место" type="text" class="fieldAddress">
    <textarea placeholder="Поделитесь впечатлениями" type="text" class="fieldComment"></textarea>
    <button class="send_comment">Оставить отзыв</button>
	</div>
</div>